h1{
 background-image: url(https://giffiles.alphacoders.com/144/14466.gif);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-position: center;
}
    
 h3,h2{
    color: black;


 } 

 h2::first-letter{
    font-size: 2rem;
  }
