.line-height{
    line-height: 1.25;
}

body{
    background: rgb(47,6,247);
    background: linear-gradient(243deg, rgba(47,6,247,1) 0%, rgba(85,1,168,1) 35%, rgba(158,158,158,1) 100%);
}

.container,p{
    color: black;
}

.flotte{
    float: right;
    height: 40vh;
    width: auto;
}

nav  a{ /* tous les liens a à l'intérieur de la balise nav */
    float: right; /* effet flottant */
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    background: #000000; /* couleur de fond */
    height: 38px; /* hauteur */
    line-height: 33px; /* interligne */
    padding: 0 10px; /* marges intérieur */
    font-family: sans-serif; /* police d'écriture */
    font-size: 17px; /* taille du texte */
    transition: .1s; /* temps de transition lors du hover : une demi seconde */
    }
    nav  a:hover{ /* tous liens lors du survol dans la balise nav */
    background: #ff00b7; /* couleur de fond */
    }

nav > ul > li{
    font-size: 40px;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-stroke: 2px rgb(255, 255, 255);
}

a[href] {
    color: rgb(0, 30, 255);
  }
