.line-height{
    line-height: 1.25;
}

body{
    background: rgb(219,250,240);
    background: linear-gradient(243deg, rgba(219,250,240,1) 0%, rgb(29, 215, 157) 35%, rgba(10,72,52,1) 100%);
}

.container,p{
    color: black;
}

.flotte{
    float: right;
    height: 40vh;
    width: auto;
}


a[href] > nav{
    color: rgb(211, 200, 200);
  }
